
<nb-card size="giant">
  <nb-card-header>

  <span *ngIf = "!isAccessPoint">{{mac}} detected <b class="keywords">{{timeTab.length}} times </b> </span>
  <span *ngIf = "selectedWifi && timeTab.length != 0 && !isAccessPoint">&nbsp;on a range of <b class="keywords">{{accuracy}}</b></span>

  <span *ngIf = "isAccessPoint">SSID: {{rssi}} Detected <b class="keywords">{{timeTab.length}}  times&nbsp;&nbsp;&nbsp;</b> </span>
<!-- rssi above means  ssid-->
  <!-- &nbsp;&nbsp;&nbsp;<nb-select size="tiny" [(selected)]="type" (selectedChange)="changeTimeline($event)">
    <nb-option *ngFor="let t of types" [value]="t">{{ t }}</nb-option>
  </nb-select> -->
  <nb-select size="tiny" [(selected)]="type" (selectedChange)="changeTimeline($event)">
    <nb-option *ngFor="let t of types" [value]="t">{{ t }}</nb-option>
  </nb-select>
  &nbsp;&nbsp;&nbsp;

  </nb-card-header>
  <nb-list *ngIf = "isAccessPoint">
    <nb-list-item *ngFor="let m of mac ; let i = index">
      <div *ngIf = "timeTab[i]">{{ m }} | {{timeTab[i] | date:'medium'}}</div>
    </nb-list-item>

  </nb-list>


  <nb-list *ngIf = "!isAccessPoint">
    <nb-list-item *ngFor="let time of timeTab">
      {{ time | date :'medium' }}
    </nb-list-item>

  </nb-list>
</nb-card>