<nb-card size="giant" [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="giant">


  <nb-tabset fullWidth>


    <nb-tab tabTitle="Detected BT devices"
    [badgeText]="nBTdevice"
    badgePosition="bottom right"
    badgeStatus="warning">

    <div class="row">
      <div class="sizeSearchBar">
        <nb-form-field>
          <input type="text" placeholder="Search device by mac@ " status="basic" [(ngModel)]="searchText" fullWidth nbInput>
          <button nbSuffix nbButton ghost >
            <nb-icon icon="search-outline"
                     pack="eva">
            </nb-icon>
          </button>
        </nb-form-field>
      </div>

      <div class=".col-md-1">
        <button nbSuffix nbButton ghost nbTooltip="Download CSV file" nbTooltipIcon="download-outline" nbTooltipStatus="danger" (click)="downloadFile(btDevices)">
          <nb-icon icon="download-outline"
                   pack="eva">
          </nb-icon>
        </button>
        <input nbInput placeholder="Pick Date Range" [nbDatepicker]="formpicker" >
        <nb-rangepicker #formpicker [min]="min" [max]="max" (rangeChange)="onEventStartEndRange($event)"></nb-rangepicker>
      </div>

    </div>

      <nb-list>
        <nb-list-item class="contact" *ngFor="let c of btDevices | appFilter: searchText : 'mac'">
          <nb-user picture="https://akveo.github.io/eva-icons/outline/png/128/bluetooth-outline.png"
            [name]="c.mac"
            [title]="c.type"
            size="large"
            [badgeText]="c.time.length"
            badgeStatus="danger"
            badgePosition="bottom right"></nb-user>

            <span class="caption">{{ c.vendor == 'null' ? 'Unknown Vendor' : c.vendor }} </span>
            <button nbButton ghost status="danger" (click)="open(c.mac, c.time)">
              <nb-icon icon="eye-outline" pack="eva"></nb-icon>
            </button>
        </nb-list-item>
      </nb-list>
    </nb-tab>

    <nb-tab tabTitle="Detected WiFi devices"
    [badgeText]="nWFdevices"
    badgePosition="bottom right"
    badgeStatus="warning">

    <div class="row">
      <div class="sizeSearchBar">
        <nb-form-field>
          <input type="text" placeholder="Search device by mac@ " status="basic" [(ngModel)]="searchText" fullWidth nbInput>
          <button nbSuffix nbButton ghost >
            <nb-icon icon="search-outline"
                     pack="eva">
            </nb-icon>
          </button>
        </nb-form-field>
      </div>

      <div class=".col-md-1">
        <button nbSuffix nbButton ghost nbTooltip="Download CSV file" nbTooltipIcon="download-outline" nbTooltipStatus="danger" (click)="downloadFile(wfDevices)">
          <nb-icon icon="download-outline"
                   pack="eva">
          </nb-icon>
        </button>
        <input nbInput placeholder="Pick Date Range" [nbDatepicker]="formpicker" >
        <nb-rangepicker #formpicker [min]="min" [max]="max" (rangeChange)="onEventStartEndRange($event)"></nb-rangepicker>
      </div>

    </div>

      <nb-list-item class="contact" *ngFor="let c of wfDevices | appFilter: searchText : 'mac'">
        <nb-user picture="https://akveo.github.io/eva-icons/outline/png/128/wifi-outline.png"
          [name]="c.mac"
          [title]="c.type"
          size="large"
          [badgeText]="c.time.length"
          badgeStatus="danger"
          badgePosition="bottom right"></nb-user>

          <div class="centerSpans">
            <span class="caption">{{ c.ssid }} | </span>
            <span class="caption">{{ c.vendor == 'null' ? 'Unknown Vendor' : c.vendor }}</span>
          </div>

          <button nbButton ghost status="danger" (click)="open(c.mac, c.time, c.rssi)">
            <nb-icon icon="eye-outline" pack="eva"></nb-icon>
          </button>
      </nb-list-item>
    </nb-tab>


    <nb-tab tabTitle="Access Points"
      [badgeText]="nAccessPoints"
      badgePosition="bottom right"
      badgeStatus="warning">

      <nb-form-field size="large">
        <input type="text" placeholder="Search Device" status="basic" fullWidth nbInput>
        <button nbSuffix nbButton ghost >
          <nb-icon icon="search-outline"
                   pack="eva">
          </nb-icon>
        </button>

      </nb-form-field>


      <nb-list>
        <nb-list-item class="contact" *ngFor="let c of accessPoints">
          <nb-user picture="https://www.clipartmax.com/png/small/82-827869_this-emergency-security-device-is-designed-to-get-help-wireless-access-point.png"
          [name]="c.ssid"
          [title]="c.type"
          size="large"
          [badgeText]="c.time.length"
          badgeStatus="danger"
          badgePosition="bottom right"></nb-user>

          <!-- <span class="caption">{{ c.vendor }}</span> -->
          <button nbButton ghost status="danger" (click)="open(c.mac, c.time, c.ssid)">
            <nb-icon icon="eye-outline" pack="eva"></nb-icon>
          </button>
      </nb-list-item>
      </nb-list>
    </nb-tab>

  </nb-tabset>
</nb-card>