
<div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <ngx-status-card [title]="statusCard.title" [type]="statusCard.type" [value]="statusCard.value">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-temperature></ngx-temperature>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">

    <!-- <ngx-intemperature></ngx-intemperature> -->
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<div class="row">


  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <ngx-detection></ngx-detection>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-solar [chartValue]="solarValue"></ngx-solar>
    <ngx-traffic></ngx-traffic>
    <ngx-advanced></ngx-advanced>
    <!-- <ngx-kitten></ngx-kitten> -->
  </div>

</div>
